@import "fonts"
@import "libs"
@import "base"
@import "vars"

ul, li 
	list-style: none

.active
	background-color: #555
	font-size: 18px
	color: #fff !important

.card_image 
  width: 100%
  height: auto

.article__content
	margin: 0 auto
	width: 80%

 p 
 	text-indent: 20px

.hidden
  visibility: hidden

.article_header h1
	margin: 20px 10px
	text-align: center
	font-size: 45px
	font-weight: 900
  line-height: 1.2

.article_text
	margin: 30px 0
	text-align: left 

.article_image
	width: 100%
	height: auto

@import "media" // Always in the end
